<% if flash[:error] %>
  <font color = 'red'> <%= flash[:error] %> </font>
<% end %>
<br>

<div class="login-form">
  <%= form_tag(signin_path, method: "post") do %>
  Username: <%= text_field_tag :username %><br>
  Password: <%= password_field_tag :password %><br>
  <br>
  <%= submit_tag "Log In" , class: 'button'%>
<% end %>
</div>
<br>
<br>
<p><%= link_to('Log in with Facebook!', '/auth/facebook') %></p>
Not a member yet? <%= link_to "Register", users_path, method: :post %>
