<br>
<h5><em><font color="grey"><%= @outfit.caption %> </em></h5>
<%= render partial: "outfit", locals: {outfit: @outfit} %>
<br>
<br>
<p><%= link_to "Go Back", @outfit.board %>
  <% if current_user == @outfit.user %>
    | <%= link_to "Edit", edit_outfit_path(@outfit) %> | <%= link_to "Delete Outfit", @outfit, method: :delete, data: {confirm: "Are you sure?"}%></p>
  <% end %>
</p>
