<h1><%=@user.username %>!</h1>
<h6><em><font color= 'grey'><%=@user.bio%><%unless @user.bio.nil?%><%end%></em>
<br>
<% if @user.image? %>
  <%= image_tag @user.image.url, {class: "user-show"}%>
<% else %>
  <%= image_tag asset_path('no_image.png'), {class: "user-show"}%>
<% end %>
<%= render partial: 'boards/boards', locals: {boards: @boards} %>
