<em><h2><%=@board.name%></h2></em>

<% if !@board.outfits.empty? %>
    <% @board.outfits.each.with_index(1) do |outfit, i| %>
      <p><%="#{i}"%>. <%=link_to "Outfit #{i}", outfit %></p>
    <% end %>
  <% else %>
    You don't have any outfit listed on this board yet.
<% end %>
<br>
<p><%= link_to "Add an Outfit", new_board_outfit_path(@board, @outfit)%> | <%= link_to "Edit", edit_board_path(@board)%> | <%= link_to "Delete", @board, method: :delete, data: {confirm: "Are you sure?"} %></p>
