<div class="board-header">
  <strong><h1><%=@board.name%></h1></strong>
  <br>
</div>
<% if !@board.outfits.empty? %>
    <% @board.outfits.each do |outfit, i| %>
      <p><%=link_to image_tag(outfit.image.url), outfit, class: 'outfit-thumbnail' %></p>
      <p><em><%= outfit.caption %></em></p>
    <% end %>
  <% else %>
    There are no outfit listed on this board yet.
<% end %>
<br>
<p><%= link_to "Go Back", @board.user %>
<% if current_user == @board.user %>
  | <%= link_to "Add an Outfit", new_board_outfit_path(@board, @outfit)%> | <%= link_to "Edit", edit_board_path(@board)%> | <%= link_to "Delete", @board, method: :delete, data: {confirm: "Are you sure?"} %></p>
<% end %>
